<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>书籍详情</title>
    {include file="public/head" /}
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_444045_j7kh4304dn78ehfr.css"/>
</head>
<body style="background: #EEEEEE;">
<div class="container">
    <!--头部-->
    <div class="row clearfix bg_white header bor_bottom ">
        <div class="col-xs-12 column quPad" style="position: relative;">
            <div class="col-xs-3 column toback text-left">
                <a href="javascript:window.history.back();"><span><i class="iconfont icon-iconfontjiantouzuo text-center" style="color: rgb(246,110,100);"></i>	</span></a>
            </div>
            <div class="col-xs-6 column text-center">
                书籍详情
            </div>
            <div style="padding-right: 0px !important;font-size: 14px;position: absolute;right: 15px;"><a href="{:url('index/index')}" style="color: #666">首页</a></div>
            <div class="col-xs-3 column">

            </div>
        </div>
    </div>

    <!--BookInfo-->
    <form action="" method="post"  id="js-ajax-form">
        <input type="hidden" name="book_id" id="book_id" value="{:isset($book_info)?$book_info->id:''}">
    <div class="row bookInfo clearfix  bg_white">
        <div class="col-xs-3 column no_rpad">
            <img src="{:isset($book_info)?$book_info->picture:''}" />
        </div>
        <div class="col-xs-9 column">
            <p class="f16 bookname">{:isset($book_info)?$book_info->title:''}</p>
            <p class="f14">作者 : <span>{:isset($book_info)?$book_info->author_name:''} </span></p>
            <p class="f14">类型 : <span>{:isset($book_info)?$book_info->cate_name:''} | </span><span class="typeLz">{:isset($book_info)?$book_info->status:''}</span></p>
            <p class="f12 looknum">{$reader_count}名书友正在看</p>
            <p class="f12 flagP text-right">
                <span>{:isset($book_info)?$book_info->cate_name:''}</span>
                <span>{:isset($book_info)?$book_info->type:''}</span>
            </p>
        </div>
    </div>
    </form>
    <div class="row clearfix bg_white bookwork text-center mar_top bor_bottom">
        <div class="col-xs-6 clearfix mar_top no_rpad">
            <a class="beginLook read_book">{if condition="$url_type eq 0"}开始阅读{else/}继续阅读{/if}</a>
        </div>
        <div class="col-xs-6 clearfix text-center mar_top no_lpad">
            <a class="addBook js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('bookshelf/add_bookshelf')}">加入书架</a>
        </div>
        <div class="col-xs-12 text-left infoBo mar_top">
            <p>{:isset($book_info)?$book_info->summary:''}</p>
        </div>
    </div>
    <!--目录-->
    <div class="row clearfix bg_white">

        <div class="col-xs-12  mulu">
            <a href="{:url('index/content_list',array('book_id'=>$book_info->id))}">
            <span>目录</span>
            {if condition="isset($update_content)"}
            <span>最近更新：第{:isset($update_content)?$update_content['order_num']:''}章    {:isset($update_content)?$update_content['name']:''}</span>
            <span>{:isset($update_content)?date('Y-m-d',$update_content['updated_at']):''}<i class="iconfont icon-gengduo"></i> </span>
            {else/}
            <span>暂无更新</span>
            {/if}
            </a>
        </div>

    </div>
    <!--************估你喜欢*********************8-->
    <div class="row clearfix bg_white mar_top">
        <div class="col-xs-12 gussname">
            <span>喜欢这本书的人还喜欢</span>
            <span class="replace_book">换一批</span>
        </div>
        <div class="col-xs-12 gusscon  love_book">
            {volist name="like_book" id="likebook"}
            <div>
                <a href="{:url('index/book_detail',array('book_id'=>$likebook->id))}" style="color: #0a0a0a;">
                    <img src="{:isset($likebook)?$likebook->picture:''}" />
                    <p>{:isset($likebook)?$likebook->title:''}</p>
                </a>
            </div>
            {/volist}
        </div>
    </div>


</div>
{include file="public/foot"/}
<script src="__STATIC__/system/js/ajax-submit.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/system/layer/layer.js" type="text/javascript" charset="utf-8"></script>
<script>
    var num = 0;
    $(".replace_book").click(function(){
        num++;
        $.ajax({
            url:"{:url('index/replace_books')}",
            data:{ 'num':num,'book_id':"{:isset($book_info)?$book_info->id:''}"},
            type:'POST',
            dataType:'JSON',
            success:function (data) {
                console.log(data);
                if(data.code==1){
                    $(".love_book").html("");
                    for(var i =0;i<data.data['length'];i++){
                        $(".love_book").append("<div><a  href=\"{:url('index/book_detail',array('book_id'=>"+data.data[i]['id']+"))}\"  style=\"color: #0a0a0a;\">\n" +
                            "            <img src='"+data.data[i]['picture']+"' />\n" +
                            "            <p>"+data.data[i]['title']+"</p>\n" +
                            "        </a></div>");
                    }
                }
                if(data.code==0){
                    $(".love_book").html("");
                    $(".love_book").append('{volist name="like_book" id="likebook"}<div><a  style="color: #0a0a0a;"  href="{:url(\'index/book_detail\',array(\'book_id\'=>$likebook[\'id\']))}"><img src="{$likebook->picture}"/> <p>{$likebook->title}</p></a></div>{/volist}');
                    num = 0;
                }
            },
            error:function () {
                layer.msg('数据错误');
            }
        })
    });

    $(".read_book").click(function(){

        var bookcontent_id  = "{$bookcontent_id}";
        var book_id = $("#book_id").val();
        if(bookcontent_id){
           var data = {
                'content_id':bookcontent_id,
                'book_id':book_id
            }
        }else{
           var data = {
                'book_id':book_id
            }
        }
        $.ajax({
            url:"{:url('index/bookstatus')}",
            data:data,
            type:'POST',
            dataType:'JSON',
            success:function (data) {
                console.log(data);
                if(data.code==1){
                    layer.msg(data.msg);
                    location.href=data.url+"?id="+data.data;
                }
                if(data.code==0){
                    layer.msg(data.msg);
                }
            },
            error:function () {
                layer.msg('数据错误');
            }
        })
    });

</script>
</body>

</html>
