<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>图书内容页面</title>
    {include file="public/head" /}
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_444045_1zwcgrg0o7qlg14i.css" />
</head>

<body style="overflow: hidden;height: 100%;background: #c1af95;">
<div class="conLeft cond"></div>
<div class="conRight cond"></div>
<div class="conCenter cond"></div>
<div style="overflow: hidden;position: relative;" id="content">
    {if condition="$content_info"}
    <div class="container content" style="width: 100%; position: absolute;top: 0px;left: 0px;">
        <h3>第{:isset($content_info)?$content_info['order_num']:''}章  {:isset($content_info)?$content_info['name']:''}</h3>
        {:isset($content_info)?$content_info['content']:''}
    </div>
    {else/} <div class="container content" style="width: 100%; position: absolute;top: 0px;left: 0px;"><h3>暂无内容</h3></div>
    {/if}
</div>
<!--***********头部和底部**************-->
<div class="conHead">
    {if condition="$content_info"}
    <span class="back"><a href="{:url('index/book_detail',array('book_id'=>$content_info['book_id']))}"><i class="iconfont icon-iconfontjiantouzuo"></i></a></span><span>第{:isset($content_info)?$content_info['order_num']:''}章  {:isset($content_info)?$content_info['name']:''}</span>
    {else/}<span class="back"><a href="javascript:window.history.back();"><i class="iconfont icon-iconfontjiantouzuo"></i></a></span><span> 当前书籍暂无内容</span>
    {/if}
</div>
<div class="conFooter">
    <a class="openList">
        <i class="iconfont icon-caidan"></i>
        <p>目录</p>
    </a>
    <a lb="1">
        <i class="iconfont icon-iconset0454"></i>
        <p>夜间</p>
    </a>
    <a lb="2" style="display: none;">
        <i class="iconfont icon-taiyang"></i>
        <p>日间</p>
    </a>
    <a class="addFlag">
        <i class="iconfont icon-shuqian"></i>
        <p>书签</p>
    </a>
    <a href="{:url('index/index')}">
        <i class="iconfont icon-sr-home"></i>
        <p>首页</p>
    </a>
</div>

<!--********************目录****************************-->
<div class="contentList">
    <i class="iconfont icon-iconfontjiantouzuo" lm></i>
    <div class="conList" style="overflow-y: scroll;">
        <ul class="no_pad">{if condition="empty($content_info)"}<li>暂无章节</li>{/if}</ul>
    </div>
</div>

</body>
<script type="text/javascript">
   order_nums  = "{:isset($content_info)?$content_info['order_num']:''}";
   order_nums_url = "{:url('index/bookstatus')}";
    book_id = "{:isset($content_info)?$content_info['book_id']:''}";
   addFlags_url = "{:url('index/add_flag')}";
</script>
{include file="public/foot"/}
<script src="__STATIC__/index/layer/layer.js"></script>
<script src="__STATIC__/index/js/jquery.cookie.js"></script>
</html>
<script type="text/javascript">
    content();
    function readbooks(obj) {
        var ordernumss  = $(obj).find('.ordernum').val();
        var data = {
            'order_num':ordernumss,
            'book_id':book_id
        };
        $.ajax({
            url:order_nums_url,
            data:data,
            type:'POST',
            dataType:'JSON',
            success:function (data) {
                console.log(data);
                if(data.code==1){
                    layer.msg(data.msg);
                    location.href=data.url+"?id="+data.data;
                }
                if(data.code==0){
                    layer.msg(data.msg);
                }
            },
            error:function () {
                layer.msg('数据错误');
            }
        })
    }

    var win_h = $(window).height();
    var num = 1;
    /*----第一次进页面判断加载几次分页---*/
    var pagenum = 20;
    var jz_count = win_h/(pagenum*42);
    var nums = Math.ceil(jz_count);
    getMore(num);
    $('.conList').scroll(function(e) {
        var scr_h = $(window).scrollTop();
        var body_h = $("body").height();
        if(body_h - win_h - scr_h < 10) {
            nums++;
            getMore(nums);
            return false;
        }
    });
    function getMore(num) {
        if(num==1){
            var data = {
                'page':num,
                'book_id':book_id,
                'fenye_conut':nums
            };
        }else{
            var data = {
                'page':nums,
                'book_id':book_id
            };
        }
        $.ajax({
            url: "{:url('index/content_lists')}",
            data: data,
            type:'GET',
            dataType:'JSON',
            success: function(rs) {
                console.log(rs);
                if(rs.data.data.length<1){
                    $(document).off("scroll");
                    $("#dibu").css('display','block');
                    return false;
                }
                for(var i = 0; i < rs.data.data.length; i++) {
                    var bookidss_arr=rs.data.data[i];
                    if(bookidss_arr['price']==0){
                        var img_zs = '';
                    }else{
                        img_zs = '<i class="iconfont icon-zuanshi"></i>';
                    }
                    if(bookidss_arr){
                        var bookidss = bookidss_arr.id;
                        $(".no_pad").append('<li class="on" onclick="readbooks(this)">' +
                            '<input type="hidden" name="order_num" class="ordernum" value="'+bookidss_arr['order_num']+'"> ' +
                            '<span>第'+bookidss_arr['order_num']+'章</span><span>'+bookidss_arr['name']+'</span></li>');
                    }
                }
            },
            error:function () {
                layer.msg('数据错误');
            }
        });
    }
</script>