<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>图书内容页面</title>
    {include file="public/head" /}
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_444045_1zwcgrg0o7qlg14i.css" />
</head>

<body style="overflow: hidden;height: 100%;background: #c1af95;">
<div class="conLeft cond"></div>
<div class="conRight cond"></div>
<div class="conCenter cond"></div>
<div style="width: 100%;height: 100%;overflow: hidden;padding-top: 10px;padding-bottom: 10px;" id="content">
    <div class="container content">
        <h3>第一章  章名</h3>
        <div class="zzDiv"><span><img src="img/888.jpg" /></span><em>作者名字</em></div>
        <p>图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面</p>
        <p>12324</p>
        <p>图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面</p>










    </div>
    <div class="container content">
        <p>图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面</p>
        <p>12324</p>
        <p>12324</p>
        <p>12324</p>
        <p>12324</p>









    </div>
    <div class="container content">
        <p>图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面</p>
        <p>12324</p>
        <p>12324</p>
        <p>12324</p>
        <p>12324</p>









    </div>
    <div class="container content">
        <p>图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面图书内容页面</p>
        <p>12324</p>
        <p>12324</p>
        <p>12324</p>
        <p>12324</p>



    </div>
</div>





<!--***********头部和底部**************-->
<div class="conHead">
    <span class="back"><a href="{:url('')}"><i class="iconfont icon-iconfontjiantouzuo"></i></a></span><span>第一章  废物南</span><a><i class="iconfont icon-bookshelf"></i></a><a><i class="iconfont icon-coinyen"></i></a>
</div>
<div class="conFooter">
    <a class="openList">
        <i class="iconfont icon-caidan"></i>
        <p>目录</p>
    </a>
    <a lb="1">
        <i class="iconfont icon-iconset0454"></i>
        <p>夜间</p>
    </a>
    <a lb="2" style="display: none;">
        <i class="iconfont icon-taiyang"></i>
        <p>日间</p>
    </a>
    <a class="addFlag">
        <i class="iconfont icon-shuqian"></i>
        <p>书签</p>
    </a>
    <a>
        <i class="iconfont icon-sr-home"></i>
        <p>首页</p>
    </a>
</div>

<!--********************目录****************************-->
<div class="contentList">
    <i class="iconfont icon-iconfontjiantouzuo" lm></i>
    <div class="conList">
        <ul class="no_pad">
            <li class="on">
                <span>第1章</span><span>明天，你好</span>
            </li>
            <li>
                <span>第1章</span><span>明天，你好</span>
            </li>
            <li>
                <span>第1章</span><span>明天，你好</span>
            </li>
            <li>
                <span>第1章</span><span>明天，你好</span>
            </li>
        </ul>
    </div>
</div>

</body>
{include file="public/foot"/}
<script src="__STATIC__/index/layer/layer.js"></script>
</html>
<script type="text/javascript">
    content();
</script>