<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>目录列表</title>
    {include file="public/head" /}
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_444045_pm8aw8q0ymdt2o6r.css"/>
</head>
<body style="background: #EEEEEE;">
<div class="container">
    <!--头部-->
    <div class="row clearfix bg_white header bor_bottom ">
        <div class="col-xs-12 column quPad">
            <div class="col-xs-3 column toback text-left">
                <a href="{:url('index/book_detail',array('book_id'=>input('book_id')))}"><span><i class="iconfont icon-iconfontjiantouzuo text-center"></i>返回</span></a>
            </div>
            <div class="col-xs-6 column text-center f16">
                {:isset($book_name)?$book_name['title']:''}
            </div>
            <div class="col-xs-3 column">
            </div>
        </div>
    </div>
    <!--*******List***********-->
    <div class="row clearfix zongList bg_white mar_top">
        <div class="col-xs-12">
            {if condition="$content_count neq 0"}
            <span>{if condition="$book_content_list[0]['book_status'] eq 0"}连载中{else/}{if condition="$book_content_list[0]['book_status'] eq 1"}已完结{else/}获取失败{/if}{/if}</span>
            {else/}<span>暂无内容</span>
            {/if}&nbsp;
            共<span>{$content_count}</span>章
        </div>
    </div>
    <div class="row clearfix zongList2 bg_white" id="muList">


    </div>
    <div class="row clearfix mar_top bg_white" style="height: 40px;"></div>
</div>
</body>
<script>
    bookid = "{:input('book_id')}";
    mulu_url = "{:url('index/content_lists')}";
</script>
{include file="public/foot"/}
<script src="__STATIC__/system/layer/layer.js" type="text/javascript" charset="utf-8"></script>
</html>
<script type="text/javascript">
    directoryList();
    function readbooks(obj) {
        var ordernums  = $(obj).find('.ordernum').val();
       var book_id = "{:input('book_id')}";
        var data = {
            'order_num':ordernums,
            'book_id':book_id
        };
        $.ajax({
            url:"{:url('index/bookstatus')}",
            data:data,
            type:'POST',
            dataType:'JSON',
            success:function (data) {
                console.log(data);
                if(data.code==1){
                    layer.msg(data.msg);
                    location.href=data.url+"?id="+data.data;
                }
                if(data.code==0){
                    layer.msg(data.msg);
                }
            },
            error:function () {
                layer.msg('数据错误');
            }
        })
    }
</script>