<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>小说首页</title>
    {include file="public/head" /}
</head>

<body style="background: #eeeeee;">
<!--顶部搜索-->
<div class="container">
    <div class="row clearfix bg_white">
        <div class="col-xs-12">
            <div class="top_out_div text-center">
                <input class="top_search title" name="title" type="text" value="" />
                <i class="glyphicon glyphicon-search search_fdj"></i>
                <a class="search_title" href="javascript:;" style="color: darkgrey;"><span class="top_search_btn search_books">搜索</span></a>
            </div>
        </div>
    </div>

</div>
<!--banner-->
<div class="container">
    <div class="row clearfix bg_white">
        <div class="col-xs-12 column no_pad">
            <div class="carousel slide" id="carousel-400334" data-ride="carousel" data-interval="2000">
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#carousel-400334">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-400334">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-400334">
                    </li>
                </ol>
                <div class="carousel-inner banner">
                    <div class="item active">
                        <img alt="" src="__STATIC__/index/img/22.gif" />
                    </div>
                    <div class="item">
                        <img alt="" src="__STATIC__/index/img/33.jpg" />
                    </div>
                    <div class="item">
                        <img alt="" src="__STATIC__/index/img/44.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--分类，排行，充值，免费-->
<div class="container">
    <div class="row clearfix text-center bg_white">
        <div class="col-xs-3 column">
            <a class="kind_btn" href="{:url('classification/index')}">分类<i class="iconfont icon-fenlei1"></i></a>
        </div>
        <div class="col-xs-3 column">
            <a class="kind_btn" href="{:url('ranking/index')}">排行<i class="iconfont icon-diyiming" style="background-color: pink;font-size: 20px;"></i></a>
        </div>
        <div class="col-xs-3 column">
            <a class="kind_btn" href="{:url('recharge/index')}">充值<i class="iconfont icon-qy_bdfw_5" style="background-color: skyblue;font-size: 20px;"></i></a>
        </div>
        <div class="col-xs-3 column">
            <a class="kind_btn">免费<i class="iconfont icon-bd_mianfei" style="background-color: forestgreen;font-size: 25px;"></i></a>
        </div>
    </div>
</div>

<!--三张图一起-->
<div class="container bg_white aa mar_top">
    <div class="row clearfix bg_white ">
        <div class="col-xs-6 column main_recommend">
            <p>主编推荐</p>
        </div>
        <div class="col-xs-6 column three_circl main_recommend">
            <span  class="pull-right" style="color: #ccc;">更多<i class="iconfont icon-gengduo"></i></span>
        </div>
    </div>
    <div id="a" class="banner3">
        <div class="bannnerduo">
            {volist name='is_recommend' id='isrecommend'}
            <div>
                <a href="{:url('index/book_detail',array('book_id'=>$isrecommend->id))}">
                    <img src="{:isset($isrecommend)?$isrecommend->picture:''}" />
                    <p>{:isset($isrecommend)?$isrecommend->title:''}</p>
                </a>
            </div>
            {/volist}
        </div>
    </div>
</div>
<!--热门小说-->
<div class="container">
    <div class="row clearfix more_novel bg_white mar_top">
        <div class="col-xs-6 column">
            <span class="pull-left" style="color: #999;">热门小说</span>
        </div>
        <div class="col-xs-6 column">
            <span class="pull-right">更多<i class="iconfont icon-gengduo"></i></span>
        </div>
    </div>
    {volist name='is_hot' id='ishot'}
    <div class="row clearfix bg_white h_delh pad_top">
        <div class="col-xs-4 column del_height">
            <img src="{:isset($ishot)?$ishot->picture:''}" alt="图片显示错误" class="img_out" />
        </div>
        <div class="col-xs-8 column del_height">
            <div class="row clearfix date_span">
                <div class="col-xs-12 column no_lpad" style="height: 40%;">
                    <span class="pull-left" style="font-size: 14px;">{:isset($ishot)?$ishot->title:''}<br><i>{:isset($ishot)?$ishot->author_name:''}</i></span>
                    <a href="{:url('index/book_detail',array('book_id'=>$ishot->id))}"><span class="pull-right read_right">立即阅读</span></a>
                </div>
                <div class="col-xs-12 column no_lpad" style="height: 60%;overflow: hidden;">
                    <!--CSS改动(加省略号)-->
                    <span style="display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;">{:isset($ishot)?$ishot->summary:''}</span>
                </div>
            </div>
        </div>
    </div>
    {/volist}
</div>
<!--新书推荐-->
<div class="container">
    <div class="row clearfix more_novel bg_white mar_top">
        <div class="col-xs-6 column">
            <span class="pull-left" style="color: #999;">新书推荐</span>
        </div>
        <div class="col-xs-6 column">
            <span class="pull-right">更多<i class="iconfont icon-gengduo"></i></span>
        </div>
    </div>
    <div class="row clearfix bg_white">
        <div class="col-xs-12 column">
            <div class="carousel slide" style="padding-bottom: 15px;border-bottom: 1px solid #eeeeee;">
                <div class="carousel-inner text-center">
                    <div class="item active recommend_del zhuBanner">
                        <div>
                            {volist name='created_at' id='createdat' offset="0" length='3'}
                            <a href="{:url('index/book_detail',array('book_id'=>$createdat->id))}"><img src="{:isset($createdat)?$createdat->picture:''}" alt="图片显示错误" /><p>{:isset($createdat)?$createdat->title:''}</p></a>
                            {/volist}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {volist name='created_at' id='createdats' offset="3" length='$data_setting['new_recommend']-3'}
    <div class="row clearfix bg_white h_delh pad_top">
        <div class="col-xs-4 column del_height">
            <img src="{:isset($createdats)?$createdats->picture:''}" alt="图片显示错误" class="img_out" />
        </div>
        <div class="col-xs-8 column del_height">
            <div class="row clearfix date_span">
                <div class="col-xs-12 column no_lpad" style="height: 40%;">
                    <span class="pull-left" style="font-size: 14px;">{:isset($createdats)?$createdats->title:''}<br><i>{:isset($createdats)?$createdats->author_name:''}</i></span>
                    <a href="{:url('index/book_detail',array('book_id'=>$createdats->id))}"><span class="pull-right read_right">立即阅读</span></a>
                </div>
                <div class="col-xs-12 column no_lpad" style="height: 60%;overflow: hidden;">
                    <!--CSS改动(加省略号)-->
                    <span style="display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;">{:isset($createdats)?$createdats->summary:''}</span>
                </div>
            </div>
        </div>
    </div>
    {/volist}

</div>
<!--限时免费-->
<div class="container">
    <div class="row clearfix bg_white mar_top">
        <div class="col-xs-4 column main_recommend">
            <p>今日限时免费</p>
        </div>
        <div class="col-xs-8 column three_circl main_recommend">
            <div>
                <p style="color: orange;" class="time_p timer-simple-seconds" timer="10" id="countdown">倒计时：<i class="hour"></i>：<i class="minute"></i>：<i class="second"></i></p>
            </div>
        </div>
    </div>
    <div class="row clearfix bg_white">
        <div class="col-xs-12 column">
            <div class="carousel slide" style="padding-bottom: 15px;border-bottom: 1px solid #eeeeee;">
                <div class="carousel-inner text-center">
                    <div class="item active recommend_del zhuBanner">
                        <div>
                            {volist name='timelimit' id='timelimits'}
                            <a href="{:url('index/book_detail',array('book_id'=>$timelimits->id))}"><img src="{:isset($timelimits)?$timelimits->picture:''}" alt="图片显示错误" /><p>{:isset($timelimits)?$timelimits->title:''}</p></a>
                            {/volist}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--猜你喜欢-->
<div class="container bg_white">
    <div class="row clearfix bg_white mar_top">
        <div class="col-xs-4 column main_recommend">
            <p>猜你喜欢</p>
        </div>
        <div class="col-xs-8 column three_circl main_recommend">
            <div>
                <p style="color:#ccc;"><i class="iconfont icon-shuaxin" style="background: none;color:#ccc;"></i>换一批</p>
            </div>
        </div>
    </div>
    <div class="changmore bg_white" style="width: 100%;">
        {volist name='like_book' id='likebook'}
        <a  href="{:url('index/book_detail',array('book_id'=>$likebook['id']))}">
            <img src="{:isset($likebook)?$likebook['picture']:''}" />
            <p>{:isset($likebook)?$likebook['title']:''}</p>
        </a>
        {/volist}
    </div>
</div>
<!--畅销书单-->
<div class="container ">
    <div class="row clearfix bg_white mar_top booklist">
        <div class="col-xs-12 column" style="padding-top: 10px;padding-bottom: 10px;">畅销书单</div>
        {volist name="buy_num_book" id="buynumbook"}
        <a  href="{:url('index/book_detail',array('book_id'=>$buynumbook->id))}" style="color: #0a0a0a;">
        <div class="col-xs-12 column">
            <p class="bottom"><i class="iconfont icon-fangduihuakuangkuai pm_icon f_green"></i><b>{$i}</b><span>{:isset($buynumbook)?$buynumbook->title:''}<em>{:isset($buynumbook)?$buynumbook->author_name:''}</em></span></p>
        </div>
        </a>
        {/volist}
    </div>
</div>
<!--最下面部分-->
<div class="container ">
    <div class="row clearfix bg_white mar_top">
        <div class="col-xs-12 column text-center footer top_pad">
            <a class="right_bor">首页</a>
            <a href="{:url('recharge/index')}">充值</a>
            <a class="left_bor">限时免费</a>
        </div>
    </div>
    <div class="row clearfix bg_white text-center" style="padding: 5px 0px;">
        <small>@2017最全小说</small>
    </div>
    <div class="row clearfix bg_white text-center">
        <small>免责声明：小说均源于互联网-所有版权股属于原作者</small>
    </div>
    <div class="row clearfix bg_white text-center erwm" style="padding: 5px 0px;">
        <img src="{:isset($qr_code)?$qr_code['qr_code']:''}" alt="图片显示错误" />
    </div>
    <div class="row clearfix bg_white text-center" style="padding-bottom: 53px;">
        <small>本公总号仅提供页面服务，如有侵权请于我们联系</small>
    </div>
    <div class="row clearfix bg_white text-center tabs t_b_pad">
        <div class="col-xs-4 column text-center footer">
            <a href="{:url('bookshelf/index')}"><i class="iconfont icon-shujiaxuanzhong"></i>书架</a>
        </div>
        <div class="col-xs-4 column text-center footer">
            <a class="on"><i class="iconfont icon-shoucang"></i>首页</a>
        </div>
        <div class="col-xs-4 column text-center footer">
            <a href="{:url('mine/index')}"><i class="iconfont icon-wode-copy"></i>我的</a>
        </div>
    </div>
    <span class="toTop"><i class="iconfont icon-huidingbu"></i> </span>
</div>

{include file="public/foot"/}
<script src="__STATIC__/system/js/ajax-submit.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/system/layer/layer.js" type="text/javascript" charset="utf-8"></script>
<script>
        indexjs();
        $(".bannnerduo").css("width", $(".bannnerduo div").length / 3 * $("#a").width() + "px")
        $(".bannnerduo div").css("width", $("#a").width() / 3 + "px")
        var dd = new Date();
        dd.setDate(dd.getDate()+1);//获取明天的日期
        var y = dd.getFullYear(); //年份
        var m = dd.getMonth()+1;//获取当前月份
        var d = dd.getDate(); //日期
        window.setInterval(function(){
            ShowCountDown(y,m,d,'countdown');
        },1000);
        $(".search_books").click(function(){
            var title = $(".title").val();
            var search_url = "{:url('index/search_list')}"+"?title="+title;
            $(".search_title").attr('href',search_url);
        });
    </script>

</body>
</html>