<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>书架</title>
    {include file="public/head" /}
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_444045_el29jwkbitacerk9.css" />
</head>
<body>
<div class="container bor_bottom pad_top pad_bot">
    <div class="bookTab">
        <span class="on" la="1">我的书架</span>
        <span la="2">最近阅读</span>
        <span la="3">我的书签</span>
    </div>
</div>
<!--我的书架-->
<div class="container myBook" lay="1">
    <div class="row pad_bot pad_top">
        <div class="col-xs-12">
            <span class="jilu">共<b>{$bookshelf_count}</b>条&nbsp;&nbsp;记录</span>
            <span class="pull-right cancelBtn" id="cancelBtn">完成</span>
            <span class="pull-right delBtn del_bookshelf">删除</span>
            <span class="edit" id="edit">编辑</span>
        </div>
    </div>
    <div class="row"  style="padding-bottom: 40px">
        {volist name="bookshelf_list" id="bookshelflist"}
        <div class="col-xs-12 pad_top pad_bot">
            <div class="row">
                <div class="col-xs-12 no_rpad">
                    <div class="inputDiv">
                        <input type="checkbox" name="ids[]"  value="{$bookshelflist->id}"/>
                    </div>
                    <div>
                        <img src="{$bookshelflist->picture}" alt="图片资源丢失" />
                    </div>
                    <div class=" MyBookIn">
                        <p class="firP">{$bookshelflist->title} <i class="iconfont icon-tuijian"> </i></p>
                        <p class="huip"><i class="iconfont icon-yonghu"></i> <span>{$bookshelflist->author_name}</span> | <span>{if condition="empty($bookshelflist->content_id)"}尚未阅读{else/}已看到第{$bookshelflist->order_nums}章{/if}</span></p>
                        <p class="huip"><i class="iconfont icon-dian"></i><span>更新至 第{$bookshelflist->order_num}章 {$bookshelflist->name}</span><span>{if condition="$bookshelflist->status eq 1"}(全书完){/if}</span></p>
                    </div>
                </div>
                <div class="col-xs-3 padLeft0 text-right">
                    {if condition="$bookshelflist->online eq 0"}<p class="huip">已下架</p>{else/}<a href="{:url('index/book_detail',array('book_id'=>$bookshelflist->id))}"><p class="huip">{if condition="empty($bookshelflist->content_id)"}开始阅读{else/}继续阅读{/if}</p></a>{/if}
                </div>
            </div>
        </div>
        {/volist}
    </div>
</div>
<!--最近阅读-->
<div class="container myBook lastBook none mar_top"   lay="2">
    <div class="row" style="padding-bottom: 40px">
        {volist name="readerreadlast_list" id="readerreadlastlist"}
        <div class="col-xs-12 pad_top pad_bot">
            <div class="row">
                <div class="col-xs-12 no_rpad">
                    <div class="">
                        <input type="checkbox" />
                    </div>
                    <div>
                        <img src="{$readerreadlastlist->picture}" alt="图片资源丢失" />
                    </div>
                    <div class=" MyBookIn">
                        <p class="firP">{$readerreadlastlist->title} <i class="iconfont icon-tuijian"> </i></p>
                        <p class="huip"><i class="iconfont icon-yonghu"></i> <span>{$readerreadlastlist->author_name}</span> | <span>{if condition="$readerreadlastlist->order_nums"}已看到第{$readerreadlastlist->order_nums}章{else/}章节已被删除{/if}</span></p>
                        <p class="huip">{if condition="$readerreadlastlist->order_nums neq $readerreadlastlist->order_num"}<i class="iconfont icon-dian"></i>{/if}{if condition="$readerreadlastlist->order_num"}<span>更新至 第{$readerreadlastlist->order_num}章 {$readerreadlastlist->name}</span><span>{if condition="$readerreadlastlist->status eq 1"}(全书完){/if}</span>{else/}<span>暂无章节</span>{/if}</p>
                    </div>
                </div>
                <div class="col-xs-3 padLeft0 text-right">
                    {if condition="$readerreadlastlist->online eq 0"}<p class="huip">已下架</p>{else/}<p class="huip" onclick="reader_books({$readerreadlastlist->id},{$readerreadlastlist->order_nums})">继续阅读</p>{/if}
                </div>
            </div>
        </div>
        {/volist}
    </div>
</div>
<!--我的书签-->
<div class="container  myFlag none mar_top" lay="3">
    {if condition="empty($readerbookmark_list)"}
    <p class="text-center f16 noData">您还没有添加任何标签</p>
    {else/}
    <div class="row"  style="padding-bottom: 40px">
        {volist name="readerbookmark_list" id="readerbookmarklist"}
        {if condition="$readerbookmarklist->online eq 0"}
        <div class="col-xs-12">
            <input type="hidden" name="book_id" class="book_id" value="{$readerbookmarklist->id}">
            <input type="hidden" name="content_id" class="content_id" value="{$readerbookmarklist->content_id}">
            <span>《{$readerbookmarklist->title}》已下架</span>  <a class="pull-right del" onclick="sq_del(this)">删除</a>
        </div>
        {else/}
        <div class="col-xs-12">
            <input type="hidden" name="book_id" class="book_id" value="{$readerbookmarklist->id}">
            <input type="hidden" name="content_id" class="content_id" value="{$readerbookmarklist->content_id}">
            <a onclick="reader_flag({$readerbookmarklist->id},{$readerbookmarklist->order_num})" >
                <span>《{$readerbookmarklist->title}》</span> <span>第{$readerbookmarklist->order_num}章 </span><span>{$readerbookmarklist->name}</span></a>
            <a class="pull-right del" onclick="sq_del(this)">删除</a>
        </div>
        {/if}
        {/volist}
    </div>
    {/if}
</div>
<div class="container">
    <div class="row clearfix bg_white text-center tabs t_b_pad">
        <div class="col-xs-4 column text-center footer">
            <a  class="on"><i class="iconfont icon-shujiaxuanzhong"></i>书架</a>
        </div>
        <div class="col-xs-4 column text-center footer">
            <a href="{:url('index/index')}"><i class="iconfont icon-shoucang"></i>首页</a>
        </div>
        <div class="col-xs-4 column text-center footer">
            <a href="{:url('mine/index')}"><i class="iconfont icon-wode-copy"></i>我的</a>
        </div>
    </div>
</div>
</body>
{include file="public/foot"/}
<script src="__STATIC__/system/layer/layer.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/index/js/jquery.cookie.js"></script>
<script type="text/javascript">
    bookShelf();
    $(".del_bookshelf").click(function(){
       var book_id = '';
        $('input[name="ids[]"]:checked').each(function(){
            book_id += $(this).val()+",";
        });
        book_id = book_id.substring(0,book_id.length-1);
        var book_ids = book_id.split(',');
        $.ajax({
            url:"{:url('bookshelf/del')}",
            data:{ 'ids':book_id},
            type:'POST',
            dataType:'JSON',
            success:function (data) {
                $('.jilu').find("b").html(data.data);
                for(var i in book_ids){
                    $('input[name="ids[]"]').each(function(){
                        if($(this).val()==book_ids[i]){
                            $(this).parents(".col-xs-12").remove();
                        }
                    });
                }
            },
            error:function () {
                layer.msg('数据错误');
            }
        })
    });

    function sq_del(obj){
        var  book_id = $(obj).parents(".col-xs-12").find(".book_id").val();
        var  content_id = $(obj).parents(".col-xs-12").find(".content_id").val();
        $.ajax({
            url:"{:url('bookshelf/readerbookmark_del')}",
            data:{ 'book_id':book_id, 'content_id':content_id},
            type:'POST',
            dataType:'JSON',
            success:function (data) {
                $('.col-xs-12').each(function(){
                    if($(this).find(".book_id").val() == book_id&&$(this).find(".content_id").val()==content_id){
                        $(this).remove();
                    }
                });
            },
            error:function () {
                layer.msg('数据错误');
            }
        })
    }

    function  reader_books(a,b) {
        var data = {
            'order_num':b,
            'book_id':a
        };
        $.ajax({
            url:"{:url('index/bookstatus')}",
            data:data,
            type:'POST',
            dataType:'JSON',
            success:function (e) {
                if(e.code==1){
                    layer.msg(e.msg);
                    location.href=e.url+"?id="+e.data;
                }
                if(e.code==0){
                    layer.msg(e.msg);
                }
            },
            error:function () {
                layer.msg('数据错误');
            }
        })
    }
    function  reader_flag(a,b) {
        var data = {
            'order_num':b,
            'book_id':a
        };
        $.cookie('flag','flags',{path: "/"});
        $.ajax({
            url:"{:url('index/bookstatus')}",
            data:data,
            type:'POST',
            dataType:'JSON',
            success:function (e) {
                if(e.code==1){
                    layer.msg(e.msg);
                    location.href=e.url+"?id="+e.data;
                }
                if(e.code==0){
                    layer.msg(e.msg);
                }
            },
            error:function () {
                layer.msg('数据错误');
            }
        })
    }
</script>
</html>
