<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title></title>
    {include file="Public/head" /}

</head>

<body style="background: #eeeeee;">
<div>
    <label>
        充值：1
        <input type="radio" name="recharge" value="1">
    </label>
</div>

<div>
    <label>
        充值：2
        <input type="radio" name="recharge" value="2">
    </label>
</div>

<div>
    <label>
        充值：3
        <input type="radio" name="recharge" value="3">
    </label>
</div>


{include file="Public/foot"/}

</body>

</html>