<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>充值订单管理</title>
    {include file="public/head" /}
</head>
<body>
{php}
$form_action=isset($info)?url('detail'):'';
{/php}
<form action="{$form_action}" method="post" class="js-ajax-form" onsubmit="return false;">
    <input type="hidden" name="id" value="{:isset($info->id)?$info->id:''}">
        <table class="layerTable" border="0">
            <tr class="h50">
                <td>订单号：</td>
                <td>{:isset($info->orders_no)?$info->orders_no:''}</td>
            </tr>
            <tr class="h50">
                <td>充值类型：</td>
                <td>{:isset($info->type)?$info->type:''}</td>
            </tr>
            <tr class="h50">
                <td>微信交易号：</td>
                <td>{:isset($info->trade_no)?$info->trade_no:''}</td>
            </tr>
            <tr class="h50">
                <td>读者微信openid：</td>
                <td>{:isset($info->Readers->openid)?$info->Readers->openid:''}</td>
            </tr>
            <tr class="h50">
                <td>订单金额：</td>
                <td>{:isset($info->price)?$info->price:''}</td>
            </tr>
            <tr class="h50">
                <td class="number">购买书币/购买会员时长：</td>
                <td>{:isset($info->number)?$info->number:''}</td>
            </tr>
            <tr class="h50">
                <td class="gift_num">充值赠送书币/充值赠送会员时长：</td>
                <td>{if condition="$info->gift_num"}{$info->gift_num}{else/}无赠送{/if}</td>
            </tr>
            <tr class="h50">
                <td>支付金额：</td>
                <td>{:isset($info->pay_num)?$info->pay_num:''}</td>
            </tr>
            <tr class="h50">
                <td>支付返回码：</td>
                <td>{:isset($info->result_code)?$info->result_code:''}</td>
            </tr>
            <tr class="h50">
                <td>创建时间：</td>
                <td>{:isset($info->created_at)?$info->created_at:''}</td>
            </tr>
            {if condition="isset($info->finished_at) and $form_action eq url('detail')"}
            <tr class="h50">
                <td>完成时间：</td>
                <td>{$info->finished_at}</td>
            </tr>
            {/if}
        </table>
   </form>
<script src="__STATIC__/system/js/ajax-submit.js" type="text/javascript" charset="utf-8"></script>
<script>
    var type = "{:isset($info->type)?$info->getData('type'):''}";

    if(type == 0){
        $(".number").html('购买书币');
        $(".gift_num").html('充值赠送书币');
    }
    if(type == 1){
        $(".number").html('购买会员时长');
        $(".gift_num").html('充值赠送会员时长');
    }
</script>
</body>
</html>