<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>分类信息管理</title>
    {include file="public/head" /}
</head>
<body>
{php}
$form_action=isset($info)?url('modify'):url('insert');
{/php}
<form action="{$form_action}" method="post" class="js-ajax-form" onsubmit="return false;">
    <input type="hidden" name="id" value="{:isset($info->id)?$info->id:''}">
    <div class="layerCon bg_f">
        <table class="layerTable" border="0">
            <tr class="h50">
                <td>分类名称：</td>
                <td><input class="must" type="text" name="name" id="name" value="{:isset($info->name)?$info->name:''}" placeholder="请输入分类名称" /></td>
            </tr>
            <tr class="h50">
                <td>排序：</td>
                <td><input class="must" type="text" name="sort" id="sort" value="{:isset($info->sort)?$info->sort:0}" placeholder="请输入排序" /></td>
            </tr>
            {if condition="$form_action eq url('modify')"}
            <tr class="h50">
                <td>操作时间：</td>
                <td>
                    创建时间:{$info->created_at}<br/>
                    更新时间:{$info->updated_at}<br/>
                    {if condition="isset($info) and $info->deleted_at"}
                    删除于：{$info->deleted_at|date='Y-m-d H:i:s',###}
                    {/if}
                </td>
            </tr>
            {/if}
        </table>
    </div>
    <div class="layerBtns">
        <a class="btn js-ajax-form-btn" data-layer="true" >立即提交</a>
        <button class="btn" type="reset">重置</button>
    </div></form>
<script src="__STATIC__/system/js/ajax-submit.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>