<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>读者书签管理</title>
    {include file="Public/head" /}
</head>
<body>
<h4>读者书签管理</h4>
<div class="toolsBar">
    <!--fgf为工具栏分隔符，刷新没有，离开都有。中间工具每一类第一个添加fgf-->
    <ul>
        <li>
            <a href="" onclick="refreshIframe()">
                <img src="__STATIC__/system/img/arrow_refresh.png"/>
                刷新</a>
        </li>
        <li class="fgf" onclick="layerPage('查询',$('#search'),'500','180')" >
            <img src="__STATIC__/system/img/page_white_magnify.png"/>
            查询
        </li>
    </ul>
</div>
<div class="tableCon">
    <em class="xian"></em>
    <form action="" method="post" id="js-ajax-form">
    <table class="table" border="0">
        <tbody>
        <tr class="noSelect">
            <th class="tc" width="35px">
                <input class="va_m" type="checkbox" name="" id="allCheck" value="" data-falg="allCheck" onclick="checkBoxOp(this)"/>
            </th>
            <th>ID号</th>
            <th>小说名称<i class="stretch"></i></th>
            <th>小说章节<i class="stretch"></i></th>
            <th>最近阅读时间<i class="stretch"></i></th>
            <th>创建时间<i class="stretch"></i></th>
            <th>更新时间<i class="stretch"></i></th>
        </tr>
        {volist name='readerbookmark_list' id='info'}
        <tr>
            <td>
                <input class="va_m" type="checkbox" name="ids[]"  value="{$info->id}" onclick="checkBoxOp(this)" />
            </td>
            <td>{$info->id}</td>
            <td>{$info->Books->title}</td>
            <td>第{$info->Bookcontents->order_num}章 {$info->Bookcontents->name}</td>
            <td>{$info->read_at}</td>
            <td>{$info->created_at}</td>
            <td>{$info->updated_at}</td>
        </tr>
        {/volist}
        </tbody>
    </table>
    </form>
</div>
<div class="pageCon">
    {$readerbookmark_list->render()}
</div>
<!-- 查询 -->
<div id="search" class="layerCon bg_f hide">
    <form action="" method="post" id="search-form">
        <table class="layerTable">
            <tr class="h50">
                <td>每页条数：</td>
                <td colspan="3">
                    <select name="display_num" id="display_num">
                        {volist name="nums" id="num"}
                        <option value="{$num}" {if condition="isset($display_num) and $display_num==$num"}selected{/if}>--{$num}--</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td>排序：</td>
                <td>
                    <select name="ordername" id="ordername">
                        <option value="id">--默认--</option>
                        <option value="created_at" {if condition="isset($ordername) and $ordername=='created_at'"}selected{/if}>--创建时间--</option>
                        <option value="updated_at" {if condition="isset($ordername) and $ordername=='updated_at'"}selected{/if}>--更新时间--</option>
                    </select>
                </td>
                <td>方式：</td>
                <td>
                    <select name="orderby" id="orderby">
                        <option value="asc">--升序--</option>
                        <option value="desc" {if condition="isset($orderby) and $orderby=='desc'"}selected{/if}>--降序--</option>
                    </select>
                </td>
            </tr>
        </table>
        <div class="layerBtns">
            <button class="btn" type="submit">查询</button>
        </div>
    </form>
</div>
<script src="__STATIC__/system/js/ajax-submit.js" type="text/javascript" charset="utf-8"></script>
<script>
    $(function () {
        $('.pageCon').find('a').on('click',function () {
            $('#search-form').attr('action',$(this).attr('href')).submit();
            return false;
        });
    });
</script>
</body>
</html>