<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>读者管理</title>
    {include file="Public/head" /}
</head>
<body>
<h4>读者管理</h4>
<div class="toolsBar">
    <!--fgf为工具栏分隔符，刷新没有，离开都有。中间工具每一类第一个添加fgf-->
    <ul>
        <li>
            <a href="" onclick="refreshIframe()">
                <img src="__STATIC__/system/img/arrow_refresh.png"/>
                刷新</a>
        </li>
        <li class="fgf" onclick="layerPage('读者查询',$('#search'),'500','240')" >
            <img src="__STATIC__/system/img/page_white_magnify.png"/>
            查询
        </li>
    </ul>
</div>
<div class="tableCon">
    <em class="xian"></em>
    <form action="" method="post" id="js-ajax-form">
    <table class="table" border="0">
        <tbody>
        <tr class="noSelect">
            <th class="tc" width="35px">
                <input class="va_m" type="checkbox" name="" id="allCheck" value="" data-falg="allCheck" onclick="checkBoxOp(this)"/>
            </th>
            <th>ID号</th>
            <th>微信openid<i class="stretch"></i></th>
            <th>书币<i class="stretch"></i></th>
            <th>会员到期时间<i class="stretch"></i></th>
            <th>最近登录时间<i class="stretch"></i></th>
            <th>最近登录IP<i class="stretch"></i></th>
            <th style="text-align: center;">操作<i class="stretch"></i></th>
        </tr>
        {volist name='reader_list' id='info'}
        <tr>
            <td>
                <input class="va_m" type="checkbox" name="ids[]"  value="{$info->id}" onclick="checkBoxOp(this)" />
            </td>
            <td>{$info->id}</td>
            <td>{$info->openid}</td>
            <td>{$info->book_money}</td>
            <td>{$info->vip_end}</td>
            <td>{$info->login_at}</td>
            <td>{$info->login_ip}</td>
            <td>
                <button type="button" class="btn" onclick="layerIfWindow('读者信息','{:url(\'detail\',array(\'id\'=>$info->id))}','510','400')">读者信息</button>
                <button type="button" class="btn" onclick="layerIfWindow('读者书签','{:url(\'bookmark\',array(\'id\'=>$info->id))}','600','400',true)">读者书签</button>
                <button type="button" class="btn" onclick="layerIfWindow('读者书架','{:url(\'bookshelf\',array(\'id\'=>$info->id))}','600','400',true)">读者书架</button>
                <button type="button" class="btn" onclick="layerIfWindow('最近阅读','{:url(\'readlast\',array(\'id\'=>$info->id))}','600','400',true)">最近阅读</button>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    </form>
</div>
<div class="pageCon">
    {$reader_list->render()}
</div>
<!-- 查询 -->
<div id="search" class="layerCon bg_f hide">
    <form action="" method="post" id="search-form">
        <table class="layerTable">
            <tr class="h50">
                <td>微信openid：</td>
                <td colspan="3"><input type="text" name="openid" id="openid" value="{:isset($openid)?$openid:''}" placeholder="请输入查询的微信openid"/></td>
            </tr>
            <tr class="h50">
                <td>每页条数：</td>
                <td colspan="3">
                    <select name="display_num" id="display_num">
                        {volist name="nums" id="num"}
                        <option value="{$num}" {if condition="isset($display_num) and $display_num==$num"}selected{/if}>--{$num}--</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td>排序：</td>
                <td>
                    <select name="ordername" id="ordername">
                        <option value="id">--默认--</option>
                        <option value="created_at" {if condition="isset($ordername) and $ordername=='created_at'"}selected{/if}>--创建时间--</option>
                        <option value="updated_at" {if condition="isset($ordername) and $ordername=='updated_at'"}selected{/if}>--更新时间--</option>
                    </select>
                </td>
                <td>方式：</td>
                <td>
                    <select name="orderby" id="orderby">
                        <option value="asc">--升序--</option>
                        <option value="desc" {if condition="isset($orderby) and $orderby=='desc'"}selected{/if}>--降序--</option>
                    </select>
                </td>
            </tr>
        </table>
        <div class="layerBtns">
            <button class="btn" type="submit">查询</button>
        </div>
    </form>
</div>
<script src="__STATIC__/system/js/ajax-submit.js" type="text/javascript" charset="utf-8"></script>
<script>
    $(function () {
        $('.pageCon').find('a').on('click',function () {
            $('#search-form').attr('action',$(this).attr('href')).submit();
            return false;
        });
    });
</script>
</body>
</html>